

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>UserName:</b>
<%= @user.username %><br/>
</p>
<p>
  <b>ID:</b>
<%= @user.identifier %><br/>
</p>
<p>
  <b>Gender:</b>
<%= @user.gender %><br/>
</p>

<p>
  <b>HomeTown:</b>
<%= @user.hometown %><br/>
</p>
<p>
  <b>location:</b>
<%= @user.location %><br/>
</p>
<%= link_to 'Back', users_path %>



